* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #3b6bc1;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 70px !important;
    height: auto !important;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/* 調整區塊之間的距離 */
.loan-section {
    text-align: center;
    margin-bottom: 40px;  /* 貸款區塊與下方選擇區塊之間的間距 */
}

.loan-details {
    margin-bottom: 20px;
}

.loan-amount {
    font-size: 18px;
    color: #333;
}

.amount {
    font-size: 24px;
    color: #333;
}

.slider {
    -webkit-appearance: none;  /* 移除預設樣式，為自定義樣式做準備 */
    width: 100%;
    height: 3px;  /* 調整滑動條高度 */
    background: linear-gradient(to right, #4e79d4 0%, #e0e0e0 100%);  /* 預設背景 */
    outline: none;
    transition: background 0.3s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;  /* 移除預設樣式 */
    width: 20px;
    height: 20px;
    border-radius: 50%;  /* 使手柄成為圓形 */
    background: #4e79d4;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4e79d4;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.repayment-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.apply-btn {
    background-color: #6200ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.why-choose-us h3 {
    font-size: 20px;  /* 設定標題的字體大小 */
    margin-bottom: 23px;  /* 增加標題與列表之間的間距，這裡設為20px */
}

.why-choose-us {
    text-align: center;  /* 將整個區塊居中 */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.why-choose-us ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* 將每個項目在垂直方向上居中 */
}

.why-choose-us ul li {
    display: flex;
    align-items: center;
    justify-content: center;  /* 水平居中 */
    font-size: 18px;  /* 設定字體大小 */
    color: #555;
    margin-bottom: 30px;  /* 增加每個項目之間的間距 */
}

.why-choose-us ul li img {
    width: 24px;
    margin-right: 10px;
    display: inline-block;
}

.footer {
    background-color: #6200ee;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer nav {
    display: flex;
    justify-content: center;
}

.footer .nav-item {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
}
